@import "../../variables"

.cards
  display: flex
  flex-direction: column
  align-items: center
  margin: 140px 45px

  &__title
    font-size: $heading-size
    line-height: $heading-lHeight

  &__list
    margin: 34px 0
    display: flex
    flex-wrap: wrap


.card
  width:  261px
  height: 254px
  background-color: $white-color
  padding: 0 10px
  margin: 15px
  border-radius: 16px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  &__img
    margin-bottom: 15px
    border-radius: 50%

  &__name
    margin: 4px 0 23px 0
